<div class="h-full w-full py-16 px-4 md:mt-8 sm:mt-8 lg:mt-1">
    <div class="flex flex-col items-center justify-center">
        <h2 class="text-yellow-200 text-center text-3xl font-black">Create messages</h2>

        <form class="lg:w-1/3 md:w-1/2 w-full p-10 mt-8" [formGroup]="postMessage" (ngSubmit)="createMessage()">
            <div>
                <div class="text-sm font-medium leading-none text-yellow-200"> Title messages </div>
                <input formControlName="title" aria-label="enter email adress" role="input" type="text" class="border bg-gray-800 rounded-full focus:outline-none text-xs font-medium leading-none text-white py-3 w-full pl-3 mt-2" />
            </div>
            <div class="mt-6 w-full">
                <div class="text-sm font-medium leading-none text-yellow-200"> Messages </div>
                <div class="relative flex items-center justify-center">
                    <textarea formControlName="message" aria-label="enter Password" role="input" type="password" class="border bg-gray-800 rounded-lg focus:outline-none text-xs font-medium leading-none text-white py-3 w-full pl-3 mt-2" rows="5"></textarea>
                </div>
            </div>
            <div class="mt-8">
                <button role="button" aria-label="create my account" class="w-1/4 float-right focus:ring-2 focus:ring-offset-2 text-sm font-semibold leading-none text-black focus:outline-none bg-gray-200 border rounded-full hover:bg-yellow-200 py-3 px-2 w-full">Share</button>
            </div>
        </form>
    </div>

    <div class="flex items-center justify-between w-full mt-6">
        <div class="flex flex-col lg:flex-row w-full items-center justify-center lg:items-center">
            <div *ngFor="let item of message" class="w-full lg:w-1/3 h-auto dark:border-gray-700 border-t p-4 lg:border-t-0 lg:border-r lg:border-l rounded-lg dark:bg-gray-800 bg-gray-200">
                <h4 class="text-black font-semibold font-xl mb-1">{{item.title}}</h4>
                <p class="text-black">{{item.messages}} </p>
                <div class="flex items-end justify-between h-1/4 mt-1">
                    <span class="italic">{{item.created_at | date}}</span>
                    <strong class="text-blac">{{item.id_user}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>